@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,400italic,400,400italic,600,600italic,700,700italic,900,900italic);
/* Fonts */

$primary-color: #3A7ECB;

/*$secondary-color: #363D46;*/
$secondary-color: #2C3140;

$orange-600: #F4511E;
$orange-400: #ff7043;
$custom-blue: #0091EA;

/* Global Variables */

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none; 
 
}

body {
	background: $secondary-color;
	font-size: 12px;
	width: 100%;
	overflow-x: hidden;
}

.unscrollable {
	overflow-y:hidden;
}

/* Header */

.header-wrap {
	width: 100%;
	position: absolute;
	top:0px;
	left: 0;
	z-index:5000;
	height: 80px;
	/*background: #232734;*/
}

.header-wrap-alt {
	background: rgba(0,0,0,.2);
}

.header-container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 30px;
	text-align: center;

	aside, 
	section, 
	li, 
	span, 
	h1, 
	a {
		display: inline-block;
		vertical-align: top;
	}

	aside {
		padding: 17px 0;
		height: 80px;
		position: absolute;
		left: 20px;

		h1, 
		object, 
		svg {
			display: inline-block;
			vertical-align: top;
		}

		h1 {
			font-size: 1.6em;
			color: #f0f0f0;
			padding: 10px 0 0 10px;
			text-transform: uppercase;
			font-weight: 400;
		}

	}

	section {
		padding: 20px 0 0 0;


		li {
			display: inline-block;
			vertical-align: top;
			color: rgba(255,255,255,.4);
			font-size: 1.2em;
			font-weight: 400;
			padding: 10px 100px;
			background: $primary-color;
			border-radius: 4px;
			color: #f0f0f0;
			cursor: pointer;
		}
	}
}


.header-centered {
	width: 480px;
	margin: 0 auto;
	position: relative;
	text-align: left;

	aside, 
	section, 
	li, 
	span, 
	h1 {
		display: inline-block;
		vertical-align: top;
	}

	aside {
		padding: 15px 0;
		height: 80px;

		h1, 
		object, 
		svg {
			display: inline-block;
			vertical-align: top;
		}

		h1 {
			font-size: 1.6em;
			color: #f0f0f0;
			padding: 10px 0 0 10px;
			text-transform: uppercase;
			font-weight: 400;
		}

	}
}


.contact-header-wrap {
	position: relative;
	width: 100%;
	background: $secondary-color;
	z-index: 2000;
	display: none;
}

.contact-header {
	width: 960px;
	margin: 0 auto;
	/*background: rgba(255,255,255,.1);*/
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding: 0;

	li, 
	h1, 
	svg, 
	span, 
	aside,
	section {
		display: inline-block;
		vertical-align: top;
	}

	li, 
	aside {
		padding: 20px 60px 0 0;
		height: 60px;

		h1 {
			font-size: 1.2em;
			color: #f0f0f0;
			font-weight: 400;
			padding: 2px 0 0 10px;

		}

		svg {
			width: 20px;
			height: 20px;
		}

		span {
			font-size: 1.4em;
			color: $primary-color;
			padding-top: 4px;
		}
	}

	aside {
		display: none;
		height: 60px;
		padding: 20px 60px 0 0;
		/*background: $orange-600;*/
	}

	section {
		/*float: right;*/
	}


}

/* Menu Slideout */

.menu-slideout {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	z-index:10000;
	height: 100vh;
	background: #f8f8f8;
	transition: 250ms;

	a {
		display: inline-block;
		padding: 20px;
		width: 100%;
		text-align: left;
		font-size: 1.2em;
		color: #777;
		cursor: pointer;
	}

	li {
		background: $primary-color;
		color: #f0f0f0;
		font-size: 1.2em;
		font-weight: 400;
		text-align: center;
		padding: 30px 0;
		cursor: pointer;
		height: 80px;
	}
}

#slideout-close {
	display: none;
}

.active-menu {
	color: #333 !important;
	font-weight: 500;
	background: rgba(0,0,0,.05);
}


.menu-shift {
	right: 0;
}

.big-icon {
	width: 480px;
	display: inline-block;
	vertical-align: top;
	position: relative;

	span {
		font-size: 15em;
		color: rgba(255,255,255,.8);
	}
}
/* Services */

.services-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 100px 0;
    position: relative;
    text-align: center; 

	header {
		width: 100%;
		text-align: center;
		padding: 0 0 70px;

		h1 {
			font-size: 2.5em;
			color: $primary-color;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		h2 {
			display: inline-block;
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #ddd;
			margin: 10px 0 0;
			padding: 0;
		}
	}
}

.services {
	position: relative;
	width: 960px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgba(255,255,255,.05);

	text-align: left;
	z-index: 2000;

	h1, 
	span, 
	aside, 
	section, 
	img, 
	h2, 
	li {
		display: inline-block;
		vertical-align: top;
	}

	li {
		width: 50%;
		text-align: left;
		padding: 30px;
		position: relative;
		background: rgba(0,0,0,.2);
		overflow: hidden;
		margin-bottom: 1px;
		height: 160px;
		border-right: 1px solid $secondary-color;
		transition: 250ms;



		section {
			position: relative;
			width: 20%;
			text-align: center;

			span {
				font-size: 4em;
				color: $orange-400;
			}

		}

		aside {
			position: relative;
			padding: 0;
			width: 80%;
			padding: 0px 0 0 10px;


			h1 {
				font-size: 1.1em;
				line-height: 1.8em;
				font-weight: 400;
				color: #ddd;
			}

			h2 {
				font-size: 1.4em;
				text-transform: uppercase;
				font-weight: 500;
				margin-bottom: 10px;
				color: #f0f0f0;
			}
		}

	}

	li:hover .service-corner {
		border-bottom: 20px solid rgba(0,0,0,.1) !important;
	}

	li:nth-child(3), 
	li:nth-child(4) {
		margin-bottom:0;
	}

	li:nth-child(2), 
	li:nth-child(4) {
		border-right: 0;
	}
}

.services-header {
	width: 960px;
	margin: 0 auto;
	text-align: left;

	section {
		padding-bottom: 30px;

		h1 {
			font-size: 2.5em;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		p {
			display: inline-block;
			font-size: 1.4em;
			font-style: italic;
			color: #555;
			margin-top: 5px;
		}
	}
}

.service-corner {
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid transparent;
    top: -18px;
    right: -31px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 250ms;
}




.rate-wrap {
	width: 100%;
	background: $primary-color;
	padding: 150px 0;
}

.rate {
	width: 960px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 0 0 30px;	

	section, 
	aside {
		display: inline-block;
		vertical-align: top;
	}

	aside {
		width: 100%;
		text-align: center;

		a {
			padding: 15px 45px;
			/*border: 2px solid $primary-color;*/
			background: $primary-color;
			font-size: 1.6em;
			font-weight: 400;
			color: #fff;
		}

		h1 {
			display: inline-block;
			color: #f0f0f0;
			font-size: 2.5em;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0 20px;
			/*border-bottom: 1px solid #fff;*/
			/*text-shadow: 1px 1px 5px #000;*/
		}
	}

	section {
		width: 100%;
		padding-top: 60px;

		h1 {
			font-size: 1.2em;
			font-weight: 400;
			color: #777;
			font-style: italic;
		}
	}
}

/* Apply Form */

.apply-wrap {
	width: 100%;
	background: #f0f0f0;
	padding: 50px 0 0;
	margin-top: 80px;
}

.apply {
	width: 480px;
	margin: 0 auto;

	section, 
	aside, 
	div {
		display: inline-block;
		vertical-align: top;
	}

	div {
		padding: 0 0 40px 0;
	}

	footer {
		padding: 20px;
		background: #fff;
		border: 1px dashed #ddd;
		text-align: left;

		p {
			display: inline-block;
			font-size: 1em;
			line-height: 1.6em;
			color: #777;
			font-weight: 400;
			margin-top: 15px;
			/*text-indent: -9px;*/
		}


		h3 {
			font-size: 1.2em;
			color: #777;
			font-weight: 500;
		}
	}

	aside {
		display: none;
	}

	section {
		width: 100%;
		padding-bottom: 20px;
		text-align: center;

		h1 {
			font-size: 2.5em;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}



		h2 {
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #777;
			margin-top: 5px;
		}

	}

	input[type="text"], 
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		font-size: 1.2em;
		color: #333;
		background: #fff;
		border: 1px solid #ddd;
		outline: 0;
		margin-bottom: 10px;
		border-radius: 0;

		&::-webkit-input-placeholder {
			color: #555;
		}

	}

	input {
		width: 49%;
		height: 60px;
		text-indent: 20px;
	}

	input:nth-child(2) {
		margin-right: 2%;
	}

	input:first-child {
		width: 100%;
		margin-right: 0;
	}

	textarea {
		width: 100%;
		padding: 20px;
		height: 120px;
	}

	button {
		width: 100%;
		padding: 20px 0;
		background: $primary-color;
		font-size: 1.4em;
		text-transform: uppercase;
		color: #fff;
		border: 0;
		outline: 0;
	}
}

.select-style {
    padding: 17px 15px 0 12px !important;
    height: 60px;
    margin: 0 0 10px;
    width: 49% !important;
    border-radius: 0;
    overflow: hidden;
    border:0;
    color: #555;
    background: rgba(255,255,255,.4) url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    color: #555;
    font-size: 1.2em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}


/* By the Numbers */

.numbers-wrap {
	width: 100%;
	padding: 0;
	display: none;
	/*background: #f8f8f8;*/
}

#numbers {
	width: 960px; 
	margin: 0 auto;
	text-align: center;
	padding: 0;
	/*background: rgba(255,255,255,.55);*/

	li, 
	h1 {
		display: inline-block;
		vertical-align: top;
	}

	li {
		text-align: center;
		width: 33.33333%;
		background: rgba(255,255,255,.9);
		padding: 30px 0;
	}

	h1 {
		font-size: 2.5em;
		font-weight: 700;
		color: #777;
	}

	h2 {
		font-size: .8em;
		color: #555;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 10px;
	}
}


.about-wrap {
	width: 100%;
	background: #f8f8f8;
	padding: 50px 0;
	text-align: center;
}

.about {
	width: 480px;
	margin: 0 auto;
	text-align: left;

	section, 
	aside {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	section {
		padding: 20px 50px 40px 40px;
		height: 400px;

		h1 {
			font-size: 1.5em;
			font-weight: 400;
		}

		p {
			font-size: 1.1em;
			line-height: 1.8em;
			font-weight: 400;
			color: #666;
			margin-top: 15px;
		}
	}

	aside {
		height: 400px;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
		}
	}
}




/* Homepage Video */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 100vh;
    overflow: hidden;
    left: 0;
    transition: 250ms;
}

.homepage-banner-shift {
	left: -300px;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5); 
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}
.video-container video.fillWidth {
    width: 100%;
}

/* Homepage Banner */

.homepage-banner {
	width: 640px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 5000;
	overflow: hidden;
	margin-top: 200px;
	opacity: 0;

	aside, 
	section, 
	i, 
	h2, 
	img, 
	h3 {
		display: inline-block;
		vertical-align: top;
	}

	aside {
		width: 100%;
		padding: 10px 0 0 10px;
		z-index: 4000;
		position: relative;

		h1 {
			font-size: 3em;
			font-weight: 100;
			line-height: 1.4em;
			/*text-transform: uppercase;*/
			color: #fff;
			position: relative;
		}

		a {
			color: $orange-600;
			font-size: 1.8em;
			font-weight: 400;
			text-transform: uppercase;
			padding: 10px 20px;
			border: 3px solid $orange-600;
			position: relative;
			display: none;
		}
	}

	div {
		padding: 0 30px 15px;
		margin-top: 10px;
		width: 100%;

		h2 {
			color: #ddd;
			font-weight: 400;
			padding: 3px 0 0 0;
			font-size: 1.3em;
		}

		h3 {
			color: #999;
			font-weight: 400;
			padding: 3px 0 0 7px;
			font-size: 1.3em;
		}
	}
}

/* Team Module */

.team-wrap {
	width: 100%;
	padding: 150px 0;
	text-align: center;
}

.team {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	position: relative;

	img, 
	section, 
	li, 
	div, 
	aside, 
	header {
		display: inline-block;
		vertical-align: top;
	}

	section {
		width: 50%;
	}

	section {
		border: 1px solid rgba(255,255,255,.05);
	}


	header {
		width: 50%;
		text-align: left;
		padding-bottom: 70px;

		h1 {
			font-size: 2.5em;
			color: $primary-color;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		h2 {
			display: inline-block;
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #ddd;
			margin: 10px 0 0;
			padding: 0 5px 0;
		}

	}

	li {
		text-align: left;
		width: 100%;
		background: rgba(0,0,0,.2);
		padding: 30px 30px;
		position: relative;
		margin: 0%;
		overflow: hidden;
		height: 100px;
		margin-bottom: 1px;

		aside {
			padding: 0px 0 0 10px;

			h1 {
				font-size: 1.2em;
				font-weight: 400;
				color: #f0f0f0;
				/*text-transform: uppercase;*/
			}

			h2 {
				font-size: 1em;
				font-weight: 400;
				margin-top: 5px;
				font-style: italic;
				color: #ddd;
			}
		}
		img {
			background: #f0f0f0;
			width: 40px;
			height: 40px;
			border-radius: 100px;
			margin-top: 3px;
			padding-left: 0;
			/*border: 2px solid #fff;*/
		}

	}

	li:last-child {
		margin-bottom: 0;
	}

}

.team-narrow {
	width: 480px;

	section, 
	header {
		width: 100%;
		padding: 0;
	}

	header {
		text-align:center;
		padding-bottom: 70px;
	}
}

.team-wide {
	width: 960px;
}

.team-button {
	display: inline-block;
	background: $primary-color;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	margin-top: 20px;
	font-size: 1.2em;
	text-transform: uppercase;
	transition: 250ms;

	&:hover {
		opacity: .9;
	}

}

.team-trigger {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    text-align: center;
    padding-top: 40px;
    transition: 250ms;

    span {
    	color: #ddd;
    	font-size: 1.6em;
    }
}

.team-link {
	width: 75%;
	height: 100%;
	top: 0;
	bottom: 0;
	padding: 35px 0 0;
	position: absolute;
	background: rgba(0,0,0,.05);
	right: -75%;
	transition: 250ms;

	a {
		display:inline-block;
		vertical-align: top;
		text-align: center;
		border-bottom: 0;
		padding-left: 40px;

		span {
			font-size: 2em;
			transition: 250ms;
			padding-top: 2px;
			color: #ddd;
		}

		p {
			font-size: 1em;
			color: #777;
		}
	}

	h1 {
		font-size: 1.2em;
		color: #333; 
		font-weight: 400;
	}
}

.team-contact {
	width: 75%;
	position: absolute;
	left: 0;
	transition: 250ms;
	padding-left: 30px;

}

.team-link-shift {
	right: 0;
}

.team-trigger-shift {
	right: 75%;
	background: rgba(0,0,0,.05);
	border-right: 1px solid $secondary-color;

	span {
		color: $orange-400;
	}
}

.team-contact-shift {
	left: -75%;
}

/* Testimonial */

.testimonials-wrap {
	width: 100%;
	padding: 0;
	height: 400px;
	background: #111;
	position: relative;
	text-align: center;
	display: none;
}

.testimonials-overlay {
    position: absolute;
    top: -400px;
    left: -200px;
    bottom: 0;
    right: -200px;
    background: rgba(44,49,64,0.8);
    z-index: 1000;
    /*box-shadow: 0 -45px 250px 150px rgba(44,49,64,.95) inset;*/
} 

.testimonials {
	width: 960px;
	margin: 0 auto;
	padding: 50px 40px;
	text-align: left;
	position: relative;
	z-index: 1500;


	img, 
	aside, 
	span, 
	i, 
	h1, 
	h2, 
	li {
		display: inline-block;
		vertical-align: top;
	}

	li {
		width: 50%;
		text-align: left;

		section {
			width: 100%;

			p {
				font-size: 1em;
				line-height: 1.8em;
				color: #777;
			}
		}

		div {
			padding: 15px 30px 0 0;
			text-align: left;
			width: 250px;

			img {
				width: 25px;
				height: 25px;
				border-radius: 50px;

			}

			h1, 
			h2 {
				font-size: 1em;
				font-weight: 400;
			}

			h1 {
				color: #ddd;
				padding: 3px 0 0 10px;

			}

			h2 {
				color: #999;
				padding: 3px 0 0 5px;
			}

		}
	}

	aside {
		width: 50%;
		text-align: right;

		h1 {
			color: #f0f0f0;
			font-size: 2.5em;
			font-weight: 700;
			text-transform: uppercase;
			transition: 250ms;
		}
	}
}

.active-star {
	color: #fcad26 !important;
}

/* Links */

.links-wrap {
	width: 100%;
	padding: 0;
	text-align: center;
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	z-index: 5000;
}

.links {
	display: inline-block;
	vertical-align: top;
	width: 960px;
	margin: 0 auto;
	padding: 0;

	a {
		display: inline-block;
		vertical-align: top;

	}

	a {
		width: 33.33333%;
		text-align: center;
		padding: 30px;
		border-right: 1px solid #ddd;
		cursor: pointer;
		/*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);*/
		/*margin-right:1%;*/

		span, 
		section {
			display: inline-block;
			vertical-align: top;
		}

		section {
			width: 100%;
			text-align: center;
			padding: 15px 0 0;

			h1 {
				font-size: 1.2em;
				color: #333;
				font-weight: 700;
				text-transform: uppercase;
			}

			h2 {
				font-size: 1em;
				color: #555;
				font-weight: 400;
				margin-top: 5px;
			}
		}



		span {
			font-size: 3em;
			color: $primary-color;
			display: none;
		}

		a {
			font-size: .9em;
			font-weight: 400;
			color: #777;
		}
	}

	a:last-child {
		border-right: 0;
	}

}

/* Discover Module  */

.discover-wrap {
	background: #f0f0f0;
	width: 100%;
	padding: 150px 0;
	text-align: center;
	margin-top: 80px;
}

.discover {
	width: 960px;
	display: inline-block;
	vertical-align: top;
	text-align: left;

	section, 
	div {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	section {
		padding-bottom: 30px;
		h1 {
			font-size: 2.5em;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		h2 {
			display: inline-block;
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #555;
			margin-top: 5px;
		}
	}

	div {
/*		-webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 50px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;*/

		h1 {
			font-size: 1.2em;
			color: #ddd;
			margin-bottom: 10px;
			font-weight: 400;
		}

		p {
			font-size: 1.4em;
			color: #555;
			line-height: 2em;
			font-weight: 400;
			margin-bottom: 15px;
			text-align: left;
		}
	}

	a {
	    padding: 15px 20px;
	    border: 2px solid #555;
	    border-radius: 4px;
	    color: #555;
	    text-transform: uppercase;
	    cursor: pointer;
	    font-weight: 700;
	    font-size: 1.2em;
	    width: 30%;
	    display: inline-block;
	    text-align: center;
	    margin-top: 20px;
	    display: none;
	}
}

.customer-service {
	width: 480px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0;

	section, 
	div, 
	aside, 
	h3, 
	h4, 
	span {
		display: inline-block;
		vertical-align: top;
	}

	section {
		/*padding-right: 25px;*/
		text-align: center;
		width: 100%;
		padding-bottom: 70px;

		h1 {
			font-size: 2.5em;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		h2 {
			display: block;
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #555;
			margin-top: 5px;
		}

		a {
			display: inline-block;
			color: $primary-color;
			font-size: 1.2em;
			font-weight: 500;
			text-align: center;
			padding: 10px 2px 0;
			border-bottom: 1px solid $primary-color;
		}

	}

	footer {
		border: 1px solid #ddd;
	}

	aside {
		position: relative;
		width: 100%;

		a {
			padding: 30px 30px;
			display: block;
			vertical-align: top;
			cursor: pointer;
			border-bottom: 1px solid #f0f0f0;
			background: #fff;

			h3, 
			h4, 
			span {
				/*width: 33.33333%;*/
			}

			h3 {
				font-size: 1.2em;
				color: #555;
				font-weight: 500;
				position: relative;
				padding-right: 30px;
				text-align: right;
				width: 120px;
			}

			h4 {
				font-size: 1.2em;
				color: $primary-color;
				font-weight: 500;
				position: relative;
				display: inline;
				text-align: center;
				padding: 0 2px;
				border-bottom: 1px solid $primary-color;
			}

			span {
				font-size: 1.6em;
				color: #ddd;
				text-align: right;
				float: right;
			}
		}

		a:last-child {
			border-bottom: 0;
		}

	}
}

/* Loading Overlay */

.loading-overlay {
  width: 100%;
  height: 100vh;
  z-index: 8000;
  position: fixed;
  background: $secondary-color;
  transition: 1000ms;
}

.hidden {
	display: none;
}

.opacity-0 {
  opacity: 0;
  z-index: -1;
}

/* Request Module  */

.request-wrap {
	background: #f0f0f0;
	width: 100%;
	padding: 50px 0 0;
	text-align: center;
	margin-top: 80px;
}

.request {
	width: 480px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	text-align: left;
	padding: 0;

	section, 
	div, 
	aside {
		display: inline-block;
		vertical-align: top;
	}

	div {
		padding: 0 0 0 0;
	}
	aside {
		display: none;
	}
	section {
		width: 100%;
		padding-bottom: 40px;
		text-align: center;

		h1 {
			font-size: 2.5em;
			color: #555;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		p {
			display: inline-block;
			font-size: 1.4em;
			font-weight: 400;
			font-style: italic;
			color: #777;
			margin-top: 5px;
		}

		h2 {
			font-size: 1em;
			font-weight: 400;
			margin: 20px 0 10px;
		}

		input {

		}



		input[type="text"], 
		textarea {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: #fff;
			text-indent: 20px;
			padding: 0;
			height: 60px;
			font-size: 1.2em;
			font-weight: 400;
			border: 1px solid #ddd;
			border-radius: 0;
			margin-bottom: 2%;
			color: #333;
			outline:0;
			width: 50%;


			&::-webkit-input-placeholder {
				color: #555;
			}
		}

		textarea {
			width: 100%;
			padding: 20px;
			height: 120px;
			text-indent: 0;
		}

		input:nth-child(2), 
		input:nth-child(4) {
			border-left: 0;
		}

		input[type="date"] {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			text-indent: 10px;
			padding: 0;
			height: 60px;
			font-size: 1.2em;
			font-weight: 400;
			border: 0;
			border-radius: 0;
			margin-bottom: 2%;
			color: #333;
			width: 50% !important;
			outline:0;
			background: #fff;
			border:1px solid #ddd;
			border-left: 0;


			&::-webkit-input-placeholder {
				color: #555;
			}
		}



		input:focus {
			background: rgba(255,255,255,.6);
		}

		button {
			width: 100%;
			padding: 20px 0;
			color: #fff;
			border: 0;
			/*border: 5px solid #fff;*/
			background: $primary-color;
			font-size: 1.2em;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: 10px;
			cursor: pointer;
		}
	}
}

/* Thank You Page */

.thanks-wrap {
	padding: 150px 0 0;
	width: 100%;
}

.thanks {
	width: 480px;
	margin: 0 auto;
	text-align: center;
	padding: 50px;
	background: #f0f0f0;
	opacity: 0;

	h1, 
	p {
		position: relative;
		display: block;
	}

	h1 {
		font-size: 2.5em;
		font-weight: 400;
		color: #333;
	}

	p {
		font-size: 1.4em;
		line-height: 2em;
		font-weight: 400;
		color: #555;
		margin: 30px 0 50px;
	}

	a {
		padding: 20px 60px;
		color: #fff;
		font-size: 1.2em;
		font-weight: 400;
		text-transform: uppercase;
		background: $primary-color;
	}
}

/* Sub Page Banner */

.sub-banner {
	width: 100%;
    background: url(../images/semi-truck1.jpeg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: 100px;
	position: relative;	
}



.social-media-trigger {
	display: none;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	z-index:2000;

	span {
		font-size: 2em;
		color: #fff;
	}
}

.scroll-down {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: center;
	z-index:1500;
	display:none;

	h1 {
		font-size: 1em;
		color: #fff;
		font-weight: 100; 
		text-transform: uppercase;
	}
}

/* Rate Request Form */

.column-50 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.rate-request-wrap {

}

.rate-request {
	width: 500px;
	margin: 100px auto 0;
	padding: 0;
	position: relative;
	background: #f8f8f8;
	padding: 50px;

	input {
		background: #fff;
		height: 50px;
		border: 0;
		text-indent: 15px;
		font-size: 1.2em;
		font-weight: 400;
		margin-bottom: 10px;
	}
}

/* Input */

.input-100 {
	width: 100%;
}

.input-50 {
	width: 50%;
}

/* Map */

.map-wrap {
	width: 100%;
	margin: 0 auto;
	padding: 150px 0 50px;
	text-align: center;
	background: #f8f8f8;
	position: relative;

	header {
		width: 100%;
		text-align: center;
		padding-bottom: 70px;

		h1 {
			font-size: 2.5em;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
		}

		h2 {
			display: inline-block;
			font-size: 1.4em;
			font-style: italic;
			font-weight: 400;
			color: #777;
			margin: 10px 0 0;
			padding: 0 5px 0;
			/*border-bottom: 1px solid #f0f0f0;*/
		}

	}
}

#map {
	display: inline-block;
	vertical-align: top;
	width: 960px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	border: 1px solid #ddd;
}

.map-overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* Loading Dots */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dot {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Footer */

.footer-wrap {
	width: 100%;
	background: rgba(0,0,0,.2);
}

.footer-dark {
	background: rgba(0,0,0,.2);
}

.footer-narrow {
	width: 480px;
}

.footer {
	margin: 0 auto; 
	padding: 20px 0 50px;

	aside, 
	section, 
	li, 
	h1, 
	h2, 
	object, 
	svg {
		display: inline-block;
		vertical-align: top;
	}

	section {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;

		object {
			margin-top: 8px;
			display: none;
		}

		a {
			width: 100%;
			display: block;
			padding-top: 5px;
		}

		a, 
		li {
			text-align: center;


			h1 {
				font-size: 1.2em;
				font-weight: 400;
				color: #f0f0f0;
				width: 75px;
				text-align: right;
			}

			h2 {
				font-size: 1.2em;
				color: $primary-color;
				font-weight: 400;
				padding-left: 10px;

			}

			h3 {
				font-size: 1.2em;
				font-weight: 400;
				color: #f0f0f0;
				padding-top: 5px;
			}

		}
	}

}

.copyright {
	width: 480px;
	margin: 0 auto;
	text-align: left;
	border-bottom: 1px solid rgba(255,255,255,.05);
	padding: 30px 0 20px;

	h1, 
	h2 {
		display: inline-block;
		vertical-align: middle;
	}

	h1 {
		font-size: 1.2em;
		color: #f0f0f0;
		font-weight: 400;
	}

	h2 {
		font-size: 1.2em;
		font-weight: 400;
		color: #ddd;
		float: right;
	}
}

.footer-wide, 
.copyright-wide {
	width: 768px;
}
@media screen and (min-width : 769px) and (max-width : 960px) {

	body {
		font-size: 90%;
	}

	.header-container, 
	.homepage-banner, 
	.services, 
	.discover, 
	.links {
		width: 100%;
	}

	.homepage-banner {
		padding: 0 50px;
	}

	.discover, 
	.services {
		padding-left: 30px;
		padding-right: 30px;
	}

	.map-wrap {
		padding-bottom: 0;
	}

	.video-container video {
		display: none;
	}
}

@media screen and (min-width : 320px) and (max-width : 768px) {

	.homepage-banner-container,
	.discover, 
	.services, 
	.team, 
	.homepage-logo, 
	.homepage-about, 
	.homepage-banner,
	.links, 
	.request, 
	.apply, 
	.thanks, 
	.customer-service {
		width: 100%;
	}

	body {
		font-size: 85%;
	}

	.video-container video {
		display:none;
	}

	.homepage-banner {
	    position: relative;
	    text-align: center;
	    left: 0;
	    top: 30vh;
	    padding: 0 20px;
	    margin-top: 0;

		aside, 
		section {
			width: 100%;
			text-align: center;
		}

		aside {
			padding: 15px 0 0 0;
		}

		aside h1 {
			font-size: 2em;
			display: none;
		}


		div {
			padding: 0 0 0 0;
		}

		div h2, 
		div h3 {
			padding-left: 0;
			display: block;
		}

		div h2 {
			font-size: 2.5em;
			font-weight: 400;
			margin-top: 0;
			text-transform: uppercase;
		}
	}
	
	.services-wrap {
		padding: 70px 10px;

		header {
			padding: 0 0 70px;
		}
	}

	.services {
		padding: 0;
		margin-right: 0;

		li {
			width: 100%;
			text-align: left;
			height: auto;

			aside h1 {
				font-weight: 400;
				font-size: 1.1em;
			}

			section span {
				text-align: center;
				font-size: 2.4em;
			}
		}

		li:nth-child(3) {
			margin-bottom: 1px;
		}

	}

	.team-wrap {
		padding: 0;
	}

	.team {
		padding: 50px 10px 70px;

		section, 
		header {
			width: 100%;
		}

		header {
			padding: 70px 0 70px;
		}

		section {

			li {
				border-bottom: 0;
			}
		}
	}

	.team-button {
		padding: 30px;
	}

	.customer-service {
		padding: 0;

		aside, 
		section {
			width: 100%;
			padding: 0;
		}

		section {
			padding: 70px 0;
			/*border-bottom: 1px solid #ddd;*/
		}

		aside {
			padding: 0 10px 70px;
		}

		footer {
			/*border: 0;*/
		}

	}

	.discover-wrap {
		padding: 0;
	}

	.discover {
		padding: 0;
		div, 
		section {
			width: 100%;
		}

		section {
			text-align: center;
			padding: 120px 0 70px;
		}

		div {
			background: #fff;
			padding: 10px 30px 30px;

			p {
				margin-top: 20px;
				font-size: 1.2em;
			}
		}
	}

	.links-wrap {
		padding: 0;
		border-bottom: 0;
	}

	.links {
		padding: 0;

		a {
			width: 100%;
			border-bottom: 1px solid #ddd;
			border-right: 0;
		}
	}

	.header-container {
		width: 100%;

		section {
			width: 100%;
			text-align: center;

			li {
				width: 100%;
				padding: 10px 0;
			}
		}

		aside {
			position: relative;
			left: 0;
		}
	}

	.menu-slideout {
		width: 100%;
		right: -100%;
	}

	.menu-shift {
		right: 0;
	}

	.request {
		padding: 80px 20px 20px;

		section {

			input:nth-child(1), 
			input:nth-child(2), 
			input:nth-child(3),
			input:nth-child(4) {
				width: 100%;
				margin-right: 0;
			}	

			input:nth-child(5), 
		    input:nth-child(7) {
		    	width: 60%;
		    	margin-right: 0; 
		    	vertical-align: bottom;
		    }

			input[type="date"]{
				margin-bottom: 2%;
				vertical-align: bottom;
				width: 40% !important;
				background: #f8f8f8; 
			}		
		}

		div {
			width: 100%;
			text-align: center;
		}




	}

	.apply {
		padding: 80px 20px 20px;

		section {
			text-align: center;

			input {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
			}

			footer {
				text-align: left;
			}
		}
	}

	.map-wrap {
		padding: 70px 10px 10px;
		width: 100%;
	}

	#map {
		width: 100%;
	}

	.team-mobile, 
	.apply-mobile, 
	.request-mobile {
		margin-top: 80px;
	}

	.thanks-wrap {
		padding: 50px 20px 50px;
	}

	.thanks {
		padding: 30px 30px 60px;

		h1 {
			font-size: 1.8em;
			line-height: 1.6em;
		}

		p {
			font-size: 1.2em;
			line-height: 1.8em;
		}
		a {
			padding: 20px 30px;
		}
	}

	.footer {
		width: 100%;
		padding: 20px;

		section, 
		aside, 
		li, 
		a {
			width: 100%;
		}
		section {
			text-align: center;
			padding-bottom: 30px;

			li, 
			a {
				text-align: center;

				h3 {
					padding-left: 10px;
				}
			}
		}
		aside {
			text-align: center;
			padding: 20px 0;
			background: rgba(0,0,0,.2);

			h2, 
			h1 {
				/*display: block;*/
			}

			h1 {
			    padding: 8px 0;
			}

			h2 {
				padding-left: 0;
			}
		}

	}

	#slideout-close {
		display: block;
	}


}